<div th:replace="~{_navbar}"></div>
<div class="container mt-3">
    <table class="table">
        <thead>
        <tr>
            <th>Sản phẩm</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <form action="/update-cart/${item.product.id}" method="post">
            <input type="hidden" name="id" value="${item.product.id}">
            <tr>
                <td>IPhone 11</td>
                <td>11.500.000</td>
                <td>
                    <input type="number" class="form-control"
                           min="1"
                           name="quantity"
                           value="2"
                           onblur="this.form.submit()"
                           style="width:50px;">
                </td>
                <td>23.000.000</td>
                <td>
                    <a class="btn btn-sm btn-danger" href="/remove-cart/${item.product.id}">Xóa</a>
                </td>
            </tr>
        </form>
        </tbody>
    </table>
    <div class="my-2">Tổng số tiền: 23.000.000</div>
    <a class="btn btn-secondary" href="/">Tiếp tục mua hàng</a>
    <a class="btn btn-primary" href="/check-out">Thanh toán</a>
</div>